# Laravel Default Ignore
/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.phpunit.cache
/.phpunit.result.cache
.env
.env.*.local
.env.backup
.env.production
.phpactor.json

# OS/Editor Files
.DS_Store
Thumbs.db
.idea
.vscode
.fleet
.nova
.zed

# Logs
*.log
storage/logs/*

# Cache
bootstrap/cache/*
.phpunit.cache

# Composer
/composer.lock
/auth.json

# Deployment
Homestead.json
Homestead.yaml